{{#> admin}}
    {{#*inline "content"}}
        

        <div class="d-flex flex-column-fluid">
            <div class=" container ">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header flex-wrap py-3 justify-content-between">
                        <div class="card-title">
                            {{ data.title }}
                            {{#with data.media}}
                        </div>
                        <div class="card-toolbar">
                            <ul class="nav nav-pills nav-pills-sm nav-dark-75">
                                <li class="nav-item d-flex align-items-center">
                                    <a class="btn btn-outline-success btn-icon" href="/admin/medias" title="Refresh">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="nav-item d-flex align-items-center">
                                    <a class="btn btn-outline-success btn-icon" href="/admin/medias/{{ getId }}" title="Refresh">
                                        <i class="fas fa-undo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form action="/admin/medias/{{ getId }}/update" method="POST">                     
                                <div class="form-group">
                                    <label for="name">Nama <span class="text-danger">*</span></label>
                                    <input class="form-control form-control-lg" name="name" id="name" type="text" placeholder="Nama" value="{{ getName }}" required/>
                                </div>
                                <div class="form-group">
                                    <label for="url">URL </label>
                                    <input class="form-control form-control-lg" name="url" id="url" type="text" placeholder="URL" value="{{ getUrl }}" required/>
                                </div>
                                <div class="form-group">
                                    <label for="logo">Logo </label>
                                    <input class="form-control form-control-lg" name="logo" id="logo" type="text" placeholder="Logo" value="{{ getLogo }}" required/>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    <button type="submit" class="btn btn-success">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{/with}}
    {{/inline}}
{{/admin}}