<div class="card card-custom gutter-b">
    <div style="height: 680px; overflow-y: auto;">
        <div class="card-header border-0 pt-7">
            <div class="d-flex align-items-center">
                <span class="bullet bullet-bar bg-danger align-self-stretch"></span>
                <label class="checkbox checkbox-lg checkbox-light-success checkbox-inline flex-shrink-0 m-0 mx-4"></label>
                <div class="d-flex flex-column flex-grow-1">
                    <h1 class="text-dark-75 text-hover-primary font-weight-boldest font-size-h1 mb-1">
                        {{cardTitle}}
                    </h1>
                </div>
            </div>
        </div>
        <div class="card-body pt-1">
            <div class="tab-content mt-5" id="myTabLIist18">
                <div class="tab-pane fade show active" id="kt_tab_pane_news_month" role="tabpanel" aria-labelledby="kt_tab_pane_news_month">
                    <div class="form">
                        {{#each news}}
                        <div class="d-flex align-items-top pb-9">
                            <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                                <div class="symbol-label" style="background-image: url('{{image}}')"></div>
                            </div>
                            <div class="d-flex flex-column flex-grow-1">
                                <a href="/read/{{slug}}" class="text-dark-50 font-weight-bold font-size-lg text-hover-primary mb-1">
                                    {{title_original}}
                                </a>
                                <p class="mt-2 text-dark-75 font-size-sm">
                                    <i class="far fa-user-circle text-warning"></i> <b>[{{media.name}}]</b> - {{journalist.name}}
                                </p>
                                <div class="align-items-center">
                                    <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2 updateLikeBtn" data-id="{{id}}">
                                        <i class="far fa-heart iconClass">
                                            {{#if like_count}}
                                            <span class="label label-sm label-danger likeCount" data-id="{{id}}">{{like_count}}</span>
                                            {{/if}}
                                        </i>
                                    </a>
                                    <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                        <i class="far fa-eye iconClass">
                                            {{#if view_count}}
                                            <span class="label label-sm label-warning">{{view_count}}</span>
                                            {{/if}}
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="separator separator-solid mb-4"></div>
                        {{/each}}

                        <div class="d-flex align-items-top pb-9">
                            <a href="{{cardLink}}" class="btn btn-primary btn-block"> Lainnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>