<div class="row mt-12">
    <div class="col-md-12">
        <div class="d-flex align-items-center">
            <span class="bullet bullet-bar bg-danger align-self-stretch"></span>
            <label class="checkbox checkbox-lg checkbox-light-danger checkbox-inline flex-shrink-0 m-0 mx-4">
                <span class="font-weight-bolder label label-xl label-light-danger label-inline px-3 py-5 min-w-45px">
                    <i class="fas fa-bullhorn text-danger"></i>
                </span>
            </label>
            <div class="d-flex flex-column flex-grow-1">
                <h1 class="text-dark-75 text-hover-danger font-weight-boldest font-size-h1 mb-1">
                    Bisnis
                </h1>
            </div>
            <div class="d-flex flex-column flex-grow-1 align-items-end">
                <a href="/read/bisnis" class="text-dark-50 font-weight-boldest font-size-h5">Lihat lainnya <i class="fas fa-arrow-circle-right "></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card card-custom bgi-no-repeat bgi-no-repeat bgi-size-cover gutter-b" style="height: 680px; background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(218, 13, 13, 0.73)), url({{data.articles.trendings.[6].image}})">
            <div class="card-body d-flex flex-column ">
                <div class="card-body d-flex">
                    <div class="d-flex py-20 flex-column align-items-start flex-grow-1">
                        <div class="flex-grow-1">
                            <a href="/read/{{data.articles.trendings.[6].slug}}" class="text-white font-weight-bolder font-size-h3">
                                {{data.articles.trendings.[6].title_original}}
                            </a>
                            <p class="text-white mt-2">
                                <i class="far fa-user-circle text-warning"></i> [{{data.articles.trendings.[6].media.name}}] - {{data.articles.trendings.[6].journalist.name}}
                            </p>
                        </div>
                        <div class="align-items-center">
                            <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2 updateLikeBtn" data-id="{{data.articles.trendings.[6].id}}">
                                <i class="far fa-heart iconClass">
                                    {{#if data.articles.trendings.[6].like_count}}
                                    <span class="label label-sm label-danger likeCount" data-id="{{data.articles.trendings.[6].id}}">{{data.articles.trendings.[6].like_count}}</span>
                                    {{/if}}
                                </i>
                            </a>
                            <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                <i class="far fa-eye iconClass">
                                    {{#if data.articles.trendings.[6].view_count}}
                                    <span class="label label-sm label-warning">{{data.articles.trendings.[6].view_count}}</span>
                                    {{/if}}
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div style="height: 680px; overflow-y: auto;">
            <div class="row">
                {{#each data.articles.trendings}}
                <div class="col-md-4">
                    <div class="card card-custom gutter-b" style="height: 400px;">
                        <div class="card-body">
                            <div class="pt-4">
                                <div class="bgi-no-repeat bgi-size-cover rounded min-h-125px" style="background-image: url({{getImage}})"></div>
                                <p class="text-dark-75 font-size-lg font-weight-normal pt-5 mb-2">
                                    {{getTitle}}
                                </p>
                                <p class="text-dark-50 mt-2">
                                    <i class="far fa-user-circle text-warning"></i> <b>[{{media.name}}]</b> - {{journalist.name}}
                                </p>

                                <div class="align-items-center">
                                    <a href="#" class="btn btn-sm btn-text-dark-50 btn-hover-icon-danger p-2 updateLikeBtn" data-id="{{getId}}">
                                        <i class="far fa-heart iconClass">
                                            {{#if getLikeCount}}
                                            <span class="label label-sm label-danger likeCount" data-id="{{getId}}">{{getLikeCount}}</span>
                                            {{/if}}
                                        </i>
                                    </a>
                                    <a href="#" class="btn btn-hover-text-primary btn-hover-icon-primary p-2">
                                        <i class="far fa-eye iconClass">
                                            {{#if getViewCount}}
                                            <span class="label label-sm label-warning">{{getViewCount}}</span>
                                            {{/if}}
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>